<!DOCTYPE html>
<html>
<head>
    <title>LADON Cloud Agent</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="header">
        <h1>LADON Cloud Agent</h1>
    </div>
    <div class="content">
        <button id="generateQRButton">Generate QR Code</button>
        <div id="dynamicQrCodeContainer">
            <!-- The dynamic QR code will be loaded here -->
        </div>
    </div>
    <a class="link" href="/credential-issue-endpoint">Issue Credential</a>
    <script src="script.js"></script>
</body>
</html>