<!DOCTYPE html>
<html>
<head>
    <title>Aries Cloud Agent</title>
</head>
<body>
    <h1>agentConfig <%= agentConfig %>!</h1>
    <h1>agentIsInitialized <%= agentIsInitialized %>!</h1>

    <a href="/createConnection">Create a connection</a>
</body>
</html>