<!DOCTYPE html>
<html>
<head>
    <title>Aries Cloud Agent</title>
</head>
<body>
    <h1>agentIsInitialized <%= agentIsInitialized %>!</h1>
    <br>
    <img src="<%= qrCodeDataURL %>" alt="QR Code" />
</body>
</html>