/* Reset default margin and padding */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and font for the whole page */
body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

/* Header style */
.header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Content container style */
.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Button style */
#generateQRButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Link style */
.link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

/* Dynamic QR code container style */
#dynamicQrCodeContainer {
    text-align: center;
    margin-top: 20px;
}

/* Responsive design adjustments */
@media screen and (max-width: 480px) {
    .content {
        padding: 10px;
    }
}